{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" class="preload"><!--  class="expand-transition noscroll"> -->
<head>
	<title>Error 404 : Page not found - Employee Management System | Rishabh Sahejpal's Designs</title>
	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Refresh tag -->
	<!-- <meta http-equiv="refresh" content="10"> -->
	<!-- Link Tags -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Favicon -->
	<link rel="icon" href="{% static 'dashboard/favicon/favicon.ico' %}" type="image/x-icon" />
	<link rel="shortcut icon" href="{% static 'dashboard/favicon/favicon.ico' %}" type="image/x-icon" />
	<!-- Other Links -->
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<!-- Fonts	 -->
	<link href="https://fonts.googleapis.com/css?family=Vollkorn:900&display=swap" rel="stylesheet">
	<!-- App css -->
	<link rel="stylesheet" type='text/css' href="{% static 'dashboard/css/app.css' %}">

</head>
<body>
<!-- Loader -->
<div class="loader startup show">
	<span class="circles"></span>
	<span class="circles"></span>
	<span class="circles"></span>
</div>
<!-- Navigation Slider -->
<section class="navigation hidden">
	<div class="overlay"></div>
	<div class="main">
		<span class="menu"><i class="fas fa-align-justify"></i></span>
		<span class="close close-nav">
			<span class="top"></span>
			<span class="bottom"></span>
		</span>
		<ul>
			<li><a href="/dashboard/1/">Home</a></li>
			<li><a href="/dashboard/documentation/">Documentation</a></li>
			<!-- <li><a href="#"{% if data.page == 'documentation' %} class="active"{% endif %}>Documentation</a></li> -->
			<li><a href="/dashboard/resources/">Resources</a></li>
		</ul>
		<p>Rishabh Sahejpal's designs. &copy;</p>

	</div>
</section>

<header>
	<div class="row">
		<div class="col-menu"><i class="fas fa-align-justify"></i></div>
			<h2>Error 404 : Page not Found</h2>
		</div>
	</header>

<section class="main-content other error py-5">
	<div class="container">
		<div class="graphic" style="background: url({% static 'dashboard/img/graphic.png' %}) no-repeat center,center;background-size: cover;"></div>
		<h1>Whoopsie!</h1>
		<h5>Page not found.</h5>
	</div>
</section>

<footer>
	<p>Rishabh Sahejpal's Designs &copy;</p>
</footer>
<!-- Jquery files	 -->

	<script	src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://kit.fontawesome.com/e39050a269.js"></script>

	<script src="{% static 'dashboard/js/app.js' %}" type="text/javascript"></script>


</body>
</html>
